.row {
    display: flex;
    justify-content: space-between; /*asi lo distribuyo uniformemente como dice el caso uno */
    padding: 20px; /*el margen interno */
    margin: 10px; /*el margen externo */
    background-color: lightcyan; /*el colorcito */
    text-align: left; /*alinear el texto a la izquierda */
    box-sizing: border-box; /*el relleno y el margen es parte del tamaño */

}
.col {
    flex: 1; 
}
.col-2 {
    flex: 2; 
}
.col-3{
    flex: 3; 
}